<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Comfortaa" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<style>
.sidenav {
  height: 100%;
  width: 20%;
  position:fixed;
  background-color: #111;
  transition: 0.5s;
  float:left;
}
#mysidenav-info{
padding-left:10%;
  padding-top:5%;
  font-size: 28px;
  color: #818181;
  display: block;
}
#mysidenav-tabs{
margin-top:30%;
padding-left:23%;
 font-size: 20px;
 }
 .fa-home,.fa-address-card,.fa-clipboard-list,.fa-cog,.fa-comments,.fa-pen{
 padding-right:10px;
 }
.sidenav a{
   display:block;
  text-decoration: none;
  margin-top:10%;
  color: white;
  
}
select{
border-radius:3px;
height:35px;
width:50%;
border-color:grey;
}
form{
margin-left:30%;
}
.panel-success{
width:70%;
height:auto;
float:left;
position:absolute;
top:25%;
margin-left:60px;
}
.panel-warning{
width:30%;
height:300px;
float:left;
position:absolute;
top:25%;
margin-right:60px;
right:0;
}
#main{
height:100%;
width:80%;
float:right;
}
#main-style{
width:100%;
height:250px;
background-color:orange;
}
.main-style-user-right{
 height:100px;
 width:200px;
 float:right;
 margin:2% 5% 0px 0px ;
 border:2px solid black;	
 background-color:white;
}
.main-style-user-left{
 height:80px;
 width:200px;
 float:left;
 margin:2% 5% 0px 5% ;
 border:2px solid black;	
 background-color:darkorange;
 color:;
 font-size:20px;
}
.main-style-user-middle{
 height:80px;
 width:200px;
 float:left;
 font-size:20px;
 margin:2% 5% 0px 0px ;
 border:2px solid black;	
 background-color:salmon;
}
.main-style-user-middle1{
 height:80px;
 width:200px;
 float:left;
 font-size:17px;
 margin:2% 5% 0px 0px ;
 border:2px solid black;	
 background-color:lightpink;
}

#main-style-user-content{
margin:20px;
color:white;
}

</style>
<body>
<div id="mySidenav" class="sidenav">
                  <span id="mysidenav-info">Welcome Prakhar</span>
				  <div id="mysidenav-tabs">
				  <a href="/"><i class="fas fa-home" style="color:tomato"></i>Dashboard</a>
				  <a href="/student-reports"><i class="fas fa-address-card" style="color:orange"></i>Student Reports</a>
				  <a href="/attendance"><i class="fas fa-clipboard-list" style="color:dodgerblue"></i>Mark Attendance</a>
				  <a href="/fill-exam-form"><i class="fas fa-pen" style="color:mediumseagreen"></i>Send Alerts</a>
				  <a href="/feedback"><i class="fas fa-comments" style="color:slateblue"></i>Feedback</a>
				  <a href="/settings"><i class="fas fa-cog" style="color:violet"></i>Settings</a>
				  </div>
</div>
<div id="main">
	<div id="main-style">
		<div id="main-style-column">
			<a href="/admin-students/student-enteries">
				<div class="main-style-user-left">
					<p id="main-style-user-content">Grades Entries</p>
				</div>
			</a>
			<a href="#">
				<div class="main-style-user-middle">
					<p id="main-style-user-content">Student List</p>
				</div>
			</a>
			<a href="#">
				<div class="main-style-user-middle1">
					<p id="main-style-user-content">Student Attendance</p>
				</div>
			</a>
			<div class="main-style-user-right">
				<div id="main-style-user-pic" style="float:left">
					<img src="/users/student/cse/prakhar.jpg" style="height:90px;width:90px;margin:2px" >
				</div>
				<a href='/profile' class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
					<p style="float:right;font-size:17px;margin-top:15%;margin-right:5%;">Prakhar <span class="caret"></span></p>
				</a>
			</div>
		</div>	
	</div>
	<div class="panel panel-success">
		<div class="panel-heading" style="text-align:center">Student Reports</div>
			<div class="panel-body">
				<form method="post" action="/student-reports/results">
					<div class="form-group">
						<label for="exampleInputName2">Select Class </label><br>
							<select name="cls" required>
								<option class="btn-disable" value="dummy">-------------------------Class--------------------------</option>
								<option value="CS-2">CS-2(2016-20)</option>
							</select>
					</div>
					<div class="form-group">
						<label for="exampleInputName2">Select Subject </label><br>
							<select name="sub" required>
								<option class="btn-disable" value="dummy">-------------------------Subject--------------------------</option>
								<option value="CS-6002">CS-6002</option>
							</select>
					</div>
					<div class="form-group">
						<label for="exampleInputName2">Filters</label><br>
							<select name="fil" required>
								<option class="btn-disable" value="dummy">-------------------------Filter--------------------------</option>
								<option value="Marks-Ascending">Marks in Ascending Order</option>
								<option value="Marks-Descending">Marks in Descending Order</option>
								<option value="Low-Attendance">Low Attendance</option>
								<option value="High-Attendance">High Attendance</option>
							</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
		
		</div>
	</div>
				

   
</div>
  

</body>
</html>
